colorama==0.4.3
cycler==0.10.0
Cython==0.29.19
decorator==4.4.2
editdistance
future==0.18.2
imageio==2.8.0
kiwisolver==1.2.0
llvmlite==0.33.0
matplotlib==3.2.1
networkx==2.4
numba==0.50.0
numpy==1.18.5
opencv-python==4.2.0.34
Pillow==7.1.2
protobuf==3.12.2
pyclipper==1.1.0.post3
PyMuPDF==1.17.4
pyparsing==2.4.7
python-dateutil==2.8.1
PyWavelets==1.1.1
PyYAML==5.3.1
scikit-image==0.17.2
scipy==1.4.1
Shapely==1.7.0
six==1.15.0
tifffile==2020.6.3
torch
torchvision
tqdm==4.46.1
typing-extensions==3.7.4.2
Unidecode==1.1.2
yacs==0.1.7
